#formArea {
    display: flex;
    flex-direction: column;

    gap: 10px;
    align-items: center;

    padding: 20px 0px;

    border: 2px solid black;
}

#formArea h2 {
    margin-top: 0px;
}

#formArea button {
    margin: 10px;
}

#formArea input {
    margin: 0px 60px;

    width: 200px;
    height: 30px;

    font-size: 16px;
}

#error {
    color: rgb(255, 54, 54);
    font-size: 14px;
}