/*
    Chat area of game frame
*/
#chat {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;

    padding: 5px 10px;

    border-left: 2px solid black;
}

/*
    Area that holds Room Chat title and player count
*/
#chatTitleArea {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

/*
    Room Chat title
*/
#chatTitle {
    font-size: 24px;
}

/*
    Room Chat player count
*/
#chatPlayerCount {
    cursor: pointer;
    transition: color 0.5s ease;
}
#chatPlayerCount:hover {
    color: rgb(34, 34, 88);
}

/*
    Area that holds chat messages
*/
#chatMessagesArea {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    overflow-x: hidden;
    overflow-y: auto;
}

/*
    Individual chat messages
*/
#chatMessagesArea span {
    width: 271px;
    word-wrap: break-word;
}

/*
    Area that holds message box and send button
*/
#chatForm {
    display: flex;
    align-items: end;

    grid-row: 2 / 3;
    grid-column: 2 / 3;

    border-left: 2px solid black;
}

/*
    Message input box
*/
#chatMessageField {
    width: 100%;
    height: 43px;

    padding-left: 5px;

    font-size: 18px;
}

/*
    Send message button
*/
#sendChatMessageButton {
    width: 55px;
    height: 48px;

    border: none;
    background-color: var(--primary-color);

    cursor: pointer;

    transition: background-color 0.3s ease;
}
#sendChatMessageButton:hover {
    background-color: var(--primary-color-darker);
}
#sendChatMessageButton img {
    width: 30px;
    height: auto;

    transform: translateY(2px);
}