#username {
    margin-top: 0px;
}

#game {
    display: grid;
    grid-template-rows: 540px 60px;
    grid-template-columns: 800px 300px;

    margin-bottom: 30px;

    border: 2px solid black;
}

#player {
    grid-row: span 2;
}

#roomContextMenu {
    display: flex;
    align-items: center;
    gap: 8px;
}

#shareLink {
    width: 250px;
    height: 43px;

    text-align: center;
}